
// @import url(http://fonts.googleapis.com/css?family=Oxygen);
// $baseFontFamily: Oxygen;

$navbarBackgroundHighlight: white;
$navbar-default-bg: white;
$btn-primary-bg: green;
@import 'bootstrap';
body { 
	padding-top: 70px;
	
 }

.navbar-default {
	@include box-shadow(none !important);
	border: 0;
}

.footer {
	margin-top: 50px;
	color: $gray-light;
	a {
		color: $gray;
	}
}
.box {
	margin: -10x;
	padding: -5x;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5x;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
	img {
		padding:5px;
		display:block;
		width: 100%;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5x;
		border-radius: 5px;
	}
	p {
		padding: 5px;
	}
	
}
#pins .box {
	margin-bottom: 10px;
}
.description {
	margin: 10px 0 5px;
}

